.viewOfDeck {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 300px));
  grid-gap: 10px;
  grid-auto-columns: 100px;
  text-align: center;
}
form {
  margin: 10px;
}
label {
  font-size: 18px; 
  margin: 5px;
}
h1 {
  margin: 0;
}
#deck {
  text-align: center;
}
body {
  margin: none;
  text-align: center;
}