ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: grid;
    height: 50px;
    box-sizing: border-box;
    grid-template-columns: 200px 200px 1fr 200px 200px;
}
li {
    font-size: 25px;
    padding: 20px 0 0 0;
    margin: auto;
}
li a {
    font-size: 20px;
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
    cursor: pointer;
    line-height: 50px;
}
li a:hover {
    text-decoration: none;
    color: black;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: white;
}
