ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}
li a {
    display: flex;
    flex-grow: 1;
    font-size: 20px;
    color: white;
    text-decoration: unset;
    /* border-right: 1px solid white; */
    position: relative;
    line-height: 50px;
}
li a:hover {
    color: magenta;
    font-size: 30px;
    /* background-color: white; */
}
li:last-child {
    border-right: none;
}